{extends 'registro/base.html'}
{block body}
{if $matriculado}
	<p><a href="{url 'Registro_Views_Curso::desmatricular', $curso.id}">Darme de baja de este curso</a></p>
{else}
	<p><a href="{url 'Registro_Views_Curso::matricular', $curso.id}">Matricularme en este curso</a></p>
{/if}
{if $user.administrator || ($user.staff && $user.id == $curso.ponente)}
	<p><a href="{url 'Registro_Views_Curso::editar', $curso.id}">Actualizar curso</a></p>
	<p><a href="{url 'Registro_Views_Curso::verLista', $curso.id}">Ver listas</a></p>
{/if}
{if $curso.requiere_ife || $curso.requiere_curp}
<h2>Requisitos especiales</h2>
<p>{if $curso.requiere_ife && $curso.requiere_curp}
	<strong>Este curso requiere que subas tu IFE y tu Curp antes de matricularte.</strong>
{elseif $curso.requiere_ife}
	<strong>Este curso requiere que subas tu IFE antes de matricularte.</strong>
{else}
	<strong>Este curso requiere que subas tu Curp antes de matricularte.</strong>
{/if}
Puedes subir esta información desde tu <a href="{url 'Registro_Views::dashboard'}">Perfil</a></p>
{/if}
<h2>Ponente</h2>
<p>{$curso.get_ponente}. <strong>Correo de contacto</strong>: {mailhide $curso.contacto}</p>
<h2>Horarios</h2>
<p>{$curso.horario|safe}</p>
<h2>Descripción</h2>
<p>{$curso.descripcion|safe}</p>
<h2>Requisitos</h2>
<p>{$curso.requisitos|safe}</p>
<h2>Conocimientos previos</h2>
<p>{$curso.conocimiento|safe}</p>
{/block}
