{extends 'registro/base.html'}
{block body}
{if $matriculado}
	<p><a href="{url 'Registro_Views_Curso::desmatricular', $curso.id}">Darme de baja de este curso</a></p>
{else}
	<p><a href="{url 'Registro_Views_Curso::matricular', $curso.id}">Matricularme en este curso</a></p>
{/if}
{if $user.administrator || ($user.staff && $user.id == $curso.ponente)}
	<p><a href="{url 'Registro_Views_Curso::editar', $curso.id}">Actualizar curso</a></p>
{/if}
<h2>Ponente</h2>
<p>{$curso.get_ponente}</p>
<h2>Descripcion</h2>
<p>{$curso.descripcion|safe}</p>
<h2>Requisitos:</h2>
<p>{$curso.requisitos|safe}</p>
{/block}
