<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Félix Arreola Rodríguez" />
	<link rel="stylesheet" media="all" type="text/css" href="{media}/css/theme.css" />
	{block extrahead}{/block}
	<title>Cursos de Invierno - {$page_title}</title>
</head>
<body>
	<div class="topmenu">
	<table cellspacing="0px" cellpadding="0px" style="width: 100%"><tbody><tr>
		<td>
			<div class="nav">
				<ul><li><a href="{url 'Registro_Views::index'}">Inicio</a></li></ul>
				<ul><li><a href="{url 'Registro_Views_Curso::index'}">Cursos</a></li></ul>
			</div>
		</td>
		<td style="text-align: right;"><!-- Esta es la información del usuario -->
			<div class="userinfo" style="float: right; padding-top: 8px; margin-right: 8px; margin-left: 8px; padding-bottom: 8px;">
				{if !$user.isAnonymous()}<img src="http://www.gravatar.com/avatar/{$user.email|md5}.jpg?s=30" alt=" " /> <a href="{url 'Registro_Views::dashboard'}"><strong>{$user}</strong></a> <a href="{url 'Registro_Views::logout'}"><img class="icon" src="{media '/img/application-exit.png'}" alt="Salir" />Salir</a>
				{else}<a href="{url 'Registro_Views::register'}">Registrarse</a> <a href="{url 'Registro_Views::login'}">Iniciar sesión</a>
				{/if}
			</div>
		</td>
	</tr></tbody></table>
	</div>
	<div class="titulo"><h1>{$page_title}</h1></div>
	{if $user and $user.id}
	{getmsgs $user}{/if}
	<div class="body">
		<p>Bienvenido</p>
	</div>
</body>
</html>
