<h3 class="top">Términos y condiciones</h3>

<p><strong>Información Legal</strong></p>

<ul>
<li>Respeta a otros.</li>
<li>Eres legalmente responsable por lo que escribes.</li>
<li>Ocasionalmente podrías recibir correos acerca de los cursos.</li>
<li>No te vamos a saturar con spam de ninguna forma.</li>
<li>Nos reservamos el derecho de desactivar cuentas.</li>
</ul>

<p><strong>Información Técnica</strong></p>

<ul>
<li>Necesitas habilitar las cookies en tu navegador.</li>
<li>La interfaz se verá mejor con Javascript habilitado.</li>
<li>Vamos a mandarte un correo para validar tu cuenta.</li>
</ul>

<p><strong>Información muy importante</strong></p>

<p><strong>¡Bienvenido!</strong></p>

